{% extends "base.html" %}
{% load static %}
{% block metadescription %}
{% if category %}
{{category.description|truncatewords:155 }}
{% else %}
See our range of courses

{% endif %} {% endblock %}
{% block title %}
{% if category %} {{ category.name }} - Coding Course
{%else %}
Coding Courses{% endif %}
{% endblock %} {% block content %}



<div class = "aim_blut_at_this">
    <div class = "glass_plane">
  


<div> {% if category %}
    <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div> <br>
<div>
    <h1 class="text-center my_title ">{{cats.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div> {% else %}
<div>
    <h1 class="text-center my_prod_title">{{cats.name}}</h1>
    <p class="text-justify">

    </p>
</div> {% endif %}

<div class="container">
    <div class="row mx-auto">

    <div class = "productdescdiv">
       <p> {{ cats.description }}</p>         
       </div>

</div>
</div>

<div class = "force_row">
        {% for product in prods %}
<div class="prod_cont">

        <div class="prod_list_card ">

                <a class="img" href="{{product.get_absolute_url}}"><img class="category_image" src="{{product.image.url}}" alt="{{product.name}}"></a>

                    <h4>{{product.name}}</h4>
                    <p style="color: black;">€{{product.price}}</p>
                </div>
</div>
        
        {% endfor %} 
       </div>





    <div class="mx-auto"> {% if prods.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center"> {% for pg in prods.paginator.page_range %} <a href="?page={{pg}}"
                class="btn btn-light btn-sm {%     if products.number == pg %}active{% endif                          %}">{{pg}}</a>
            {% endfor %} </div> {% endif %}
    </div>


    <br>
</div>     </div>
</div>
{% endblock %}