{% extends 'base.html' %}
{% block title %}<br>{% endblock title %}




{% block content %} 


<div class = "aim_blut_at_this">
    <div class = "glass_plane">
  <h1 style = "color: aliceblue; padding-top:100px;"> Password Change</h1>

 <br>
<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you
    typed it in correctly.</p>
<form method="POST"> {% csrf_token %} 
    {{ form.as_p }} 
    <input class="btn btn-success" type="submit" value="Change my password"> </form>

    {% include 'footer.html' %}


       </div>
</div>

    
    
    {% endblock content %}