
{% extends 'base.html' %}

<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">


        {% block title %}
        <title> Login </title>
        {% endblock title %}

    </head> 
    <body>


        {% block content %}
        <h1> Log In</h1>
        <form action = "" method= "POST" >

            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value = "Log In"/>

            </form>

]        {% endblock content %}

    
     

       
        
      
    </body>
</html>