
{% extends 'base.html' %}




        {% block title %}
        <title> Login </title>
        {% endblock title %}



        {% block content %}
<div class = "aim_blut_at_this">
<div class = "glass_plane">


<br>
        <h1 class = "text-primary"> Log In</h1>
        <form style = "background-color: transparent;" action = "" method= "POST" >
                <div class="social-login-buttons">
                        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-block">
                            <i class="fab fa-facebook"></i> Login with Facebook
                        </a>
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-info btn-block">
                            <i class="fab fa-google"></i> Login with Google
                        </a>
                        <!-- Add more social media buttons as needed -->
                    </div>
            {% csrf_token %}
            {{ form.as_table }}
            <br>
            <br>
            <input  style = "margin-top:35px;"type="submit" class="btn btn-primary" value="Log In" />

            </form>
            {% include 'footer.html'    %}

          

  </div>
</div>

      {% endblock content %}

    


