

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.animate {
    animation: fadeIn 2s ease-in forwards;
  }
  

body{
    background-color: rgba(162, 170, 170, 0.795);
}


h1{

    color: red;

}
  #myDiv{
    overflow: hidden;
  }
button{
  width:100%;
  background-color: rgb(116, 116, 140);
  color: #000000;
}
.brief{



font-size: 3em;
letter-spacing: 20px;
color: #1e1f09;
backdrop-filter: blur(5px);
padding-top: 150px;
padding-bottom: 75px;

background-color: rgba(57, 227, 190, 0.312);



}
.brieftask{
  color: #000000;
  font-size: 2em;
text-transform: capitalize;

  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 0, 0.268);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 1px;
  margin-bottom: -1px;



}
.phase{
  background-color: rgba(255, 240, 250, 0.79);
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(90, 54, 10);
}

.backdrop_control{

  backdrop-filter: blur(20px);



}

#toggleButton {
  cursor: pointer;
}


.todo{
  background-color: rgba(247, 232, 60, 0.846);
  background-image: url("/static/images/todo.gif");
  backdrop-filter: blur(20px);


}

.collapseExample{
  background-color: transparent;
}
card-body{


  background-color: transparent;
}



h1,h2,h3{
color: rgb(255, 251, 251);
text-align: center;
text-transform: capitalize;
 text-shadow: 2px  #131111;
 letter-spacing: 15PX;
 text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);

}

.whoamI{

    text-align: center;
    color: white;
    size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
    backdrop-filter: blur(20px);
    background-color: rgba(171, 173, 175, 0.425);
    

}

.whoamI:hover{
    background-color: rgba(171, 173, 175, 0.425);
}

.whoamIlogged{

    letter-spacing: 5px;;
    text-align: center;
    color: rgb(250, 132, 132);
    size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
    backdrop-filter: blur(20px);
    background-color: rgba(160, 57, 74, 0.425);
    

}

a.whoamI{
    text-decoration: none;
    font: bolder;
    text-align: center;
    letter-spacing: 20px;
    margin-left: 40%;
    size: 2em;
}




nav {
  background-color: rgba(255, 252, 252, 0.144);
/*  background-image: url("/img/broken_glass.jpg");*/
z-index: 1;
backdrop-filter: blur(20px);
}


.header_body_border:hover{
}


.header_contains_image_cleanly{

    height: 10%;
    background-position:  center; 
    background-size: 100% auto;
    background-repeat:repeat; 
    background-image: url("/static/images/main.jpg");
  
  
}



.main_website_name_row {

    backdrop-filter: blur(3px);
    flex-direction: column;
    }
    
    
    
    .main_website_name_text {
      letter-spacing: 15px;
      animation: fadeIn 4s ease-in forwards;
      backdrop-filter: blur(20px);
    
    
    }
    
    .main_website_name_text_2 {
      letter-spacing: 15px;
      animation: fadeIn 4s ease-in forwards;
      backdrop-filter: blur(20px);
      font-size: small;
    
    }
    .main_website_name_text_3 {
      letter-spacing: 15px;
      animation: fadeIn 4s ease-in forwards;
      backdrop-filter: blur(20px);
      background-color: rgba(240, 248, 255, 0.334);
    
    }

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: space-evenly; 
  transform: scale(1.1);
}

nav ul:hover{
background-color: rgba(240, 248, 255, 0.192);
}


nav ul li:hover{
  transition: transform .1s;
  transform: scale(1.1);
}

nav ul li {
  padding: 1em;

 max-width: 100%;
 

}

nav a {
  animation: 1s ease-in forwards;
  font-size: larger;
  font-weight: 900;
  color: white;
  text-decoration: none;
  transition: all .6s;
  text-transform: full-width;
  letter-spacing: 5px;
  


  
}

nav a:hover {
  color: #000000;
  transition: transform .5s;
  transform: scale(2);

}


.p2{
background-color: aliceblue;
}

section._box{
 display: flex;
 flex-direction: row;
 justify-content: center;
 border-radius: 1cm;
  padding-top: 1.5%;
margin-top: 50px;
padding:5%;


}
section._box2{

  border-radius: 1cm;
   padding: 1%;
   font-size: xx-large;
 
 
 
 }
p{
  

  font-size: xx-large;
}


  .icon {
  
  
    background-color: rgba(240, 255, 255, 0.278);
  
    position:relative;
    left: 0%;
    width:100px;
    padding: 0%;
  
  
    border-radius: 5px; /* Makes it a circle */
  
    backdrop-filter: blur(5px);
  }


  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 5%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.278);
    backdrop-filter: blur(5px);
  }