

{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> My Blog </title>
       
        <meta name="viewport" content="width=device-width, initial-scale=1">
  
 <script src=    "{% static '/js/main.js' %}"></script>
      <link rel="stylesheet" type = "text/css" href= "{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400">
      


    </body> 
  </html> 
  

    </head> 
    <header>

    
<div class = "header_contains_image_cleanly">
    <div class = "header_displayflex"> </div>
        <div class = "icon_nice_wrapper">
 <img class ="icon" src="{% static 'images/icon.png' %}">
 </div>
  <h1 class = "title"></h1>

 
  <a class = 'whoamI' href="{% url 'signup' %}">Sign Up</a>
  <a class = 'whoamI' href="/admin">Admin</a>

        {% if user.is_authenticated %} 
        <p class = 'whoamIlogged'>||- Your logged in as :: {{ user.username }} -||</p>
        <a class = 'whoamI' href="  {% url 'logout' %}  "> Log Out </a>
        {% else %} 
        <p class = 'whoamI' > You are not logged in. </p>
        <a class = 'whoamI' href="  {% url 'login' %}  "> Log In </a>
        {% endif %} 


        <nav>
            <ul>



                <li><a href="{% url 'shop:about' %}" >HOME/SHOP</a> </li> 
                <li><a href="services.html">CART</a></li>

                <li><a href="{% url 'shop:home' %}" >homedoesntwork</a></li>
                <li><a href="services.html">SERVICES</a></li>
          
            </ul>
        </nav>
        <header class ="transparent_header">
            <br></br>
            <br></br>
         <main class = "main_website_name_row">
             <h1 class = "main_website_name_text"> CODING COURSES ACADEMY </h1>
             <h1 class = "main_website_name_text_2"> LEARN THE INS AND OUTS</h1>
        </main>
            <br></br>
            <br></br>
            <nav class = "header_body_border"><ul><li></li> </ul> </nav>
    </div>
        <nav class = "header_body_border"><ul><li></li> </ul> </nav>
         <h1 class = "main_website_name_text_3"> header</h1>
         <nav class = "header_body_border"><ul><li></li> </ul> </nav>
         </header>


    
    <body>

        {% block content %}
        {% endblock content %}

    
    </body>
</html>