{% load auth_extras %}


{% load static %}


<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> My Blog </title>
       
        <meta name="viewport" content="width=device-width, initial-scale=1">
  
 <script src=    "{% static '/js/main.js' %}"></script>
      <link rel="stylesheet" type = "text/css" href= "{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400">
      


        <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
        crossorigin="anonymous" /> 
        <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
        crossorigin="anonymous" 
        







        
        ></script> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" 
        crossorigin="anonymous"> 
        

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   </head> 
    <body> 


 
    <header>
    
<div class = "header_contains_image_cleanly">
    <div class = "header_displayflex"> </div>

  <h1 class = "title"></h1>

 <!-- This is a comment in HTML 
  <a class = 'whoamI' href="{% url 'signup' %}">Sign Up</a>
  <a class = 'whoamI' href="/admin">Admin</a>

        {% if user.is_authenticated %} 
        <p class = 'whoamIlogged'>||- Your logged in as :: {{ user.username }} -||</p>
        <a class = 'whoamI' href="  {% url 'logout' %}  "> Log Out </a>
        {% else %} 
        <p class = 'whoamI' > You are not logged in. </p>
        <a class = 'whoamI' href="  {% url 'login' %}  "> Log In </a>
        {% endif %} 
-->

 <!--              


 -->



 


        <header class ="transparent_header">
            <br></br>
            <br></br>
         <main class = "main_website_name_row">
             <h1 class = "main_website_name_text"> CODING COURSES ACADEMY </h1>
             <h1 class = "main_website_name_text_2"> LEARN THE INS AND OUTS</h1>
        </main>
 <br></br>
     

    <section class = "icon_section">
 <img class ="icon" src="{% static 'images/icon.png' %}"></section>
       <br></br>
           





  
            <nav class = "adminonline">
            
{% if user.is_superuser %}
                <div class = "online_dot"></div><h5 style = "margin-top:10px; margin-left:-300px; color:aliceblue"> ADMIN ACTIVATED</h5>
{% endif %}
                <li><a href="{% url 'admin:index' %}">▢ ADMIN ▢</a></li>
                </ul>
            </nav>

     

 {% for group_for in request.user.groups.all %}
    {% if group_for.name == 'ADMINISTRATOR_GROUP' %}
    <div class = "control_centre_banner_topMost">

          
                 <h3 class = "text-primary" style = "backdrop-filter: blur(20px);">◰ QUICK ADMIN CONTROL CENTER ACTIVATED</h3> 
    </div>

<div class = "control_centre_banner"></div>
                    

                        <div class = "sick_backdrop" id="breifcss"> 

                                <div class = "control_centre_banner">

                            <h1 class = "brief" > ⟤ BREIF </h1>
   </div>

                        <button class="btnbreif btn-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            ⧉ OPEN BREIF
                            </button>


                        <div class="collapse" id="collapseExample">
                                <div class="card card-body">

 </div>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/n61ULEU7CO0?si=jj_I2aSobtIXx2B7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>



                        <div class = "sick_backdrop" id="myDiv"> 

                            <h3 class = "brieftask"> <p class = "phase">FIRST STAGE </p></h3>
                            <h3 class = "brieftask"> <p></p>  </h3>


                            <h3 class = "brieftask"> [ yes on a few things ]  bootstrap </h3>
                            <h3 class = "brieftask"> [ yes on most things ]  css   </h3>
                            <h3 class = "brieftask"> [ yes works -used for animations  ]  js   </h3>


                        </div>

                        <div class = "sick_backdrop" id="myDiv"> 

                            <h3 class = "brieftask"> <p class = "phase">NEXT STAGE </p></h3>
                            <h3 class = "brieftask"> <p></p>  </h3>


                            <h3 class = "brieftask"> [   shopping cart       ] crud       </h3>
                            <h3 class = "brieftask"> [  yes       ]  admin    </h3>
                            <h3 class = "brieftask"> [    yes works -page for it specifically     ]  password change and reset   </h3>


                        </div>
                            <div class = "sick_backdrop" id="myDiv"> 



                            <h3 class = "brieftask"> <p class = "phase">NEXT STAGE </p></h3>
                            <h3 class = "brieftask"> <p></p>  </h3>



                            <h3 class = "brieftask"> [    yes you have your a few things added to what makes a user eg.,groups     ]  customer user model     </h3>
                            <h3 class = "brieftask"> [   category -> products      ]  1-1 | 1-M | M-M     </h3>
                            <h3 class = "brieftask"> [         ]  user prfole    </h3>


                        </div>
                            <div class = "sick_backdrop" id="myDiv"> 

                            <h3 class = "brieftask"> <p class = "phase">NEXT STAGE </p></h3>

                            <h3 class = "brieftask"> <p></p>  </h3>

                            <h3 class = "brieftask"> [  [yes on categories]    ]  use of uuid </h3>
                            <h3 class = "brieftask"> [  [yes on everything] ]  static images assets  </h3>
                            <h3 class = "brieftask"> [  yes through admin  ]   image uploads[yes on products]  </h3>
                            <h3 class = "brieftask"> [    yes on product name and categroy name   ]  search functionality        </h3>
                        </div>
                            <div class = "sick_backdrop" id="myDiv"> 

                            <h3 class = "brieftask"> <p class = "phase">NEXT STAGE </p></h3>

                            <h3 class = "brieftask"> <p></p>  </h3>
                            <h3 class = "brieftask"> [   yes    ] shopping cart basic workings     </h3>
                            <h3 class = "brieftask"> [  yes    ]    shopping cart add items    </h3>
                            <h3 class = "brieftask"> [ yes     ]    shopping cart empty 1 item </h3>
                            <h3 class = "brieftask"> [  yes   ]    shopping cart empty ALL items   </h3>

                        </div>
                            <div class = "sick_backdrop" id="myDiv"> 

                            <h3 class = "brieftask"> <p class = "phase">NEXT STAGE </p></h3>

                            <h3 class = "brieftask"> <p></p>  </h3>

                            <h3 class = "brieftask"> [          ]  make payment with stripe   </h3>
                            <h3 class = "brieftask"> [          ]  use of django session framework tp manage shop cart  </h3>
                            <h3 class = "brieftask"> [          ]   use of json to pop db   </h3>
                            </div>
                            <div class = "sick_backdrop" id="myDiv"> 


                            <h3 class = "brieftask"> <p class = "phase">VALUE ADDED  </p></h3>
                            <h3 class = "brieftask"> <p></p>  </h3>

                            <h3 class = "brieftask"> [          ]  app logic in models and views   </h3>
                            <h3 class = "brieftask"> [yes ADMINSTORGROUP and BUYER  - buyer limited - explitictly shows this fact   ]  dif user types manager,cusomter   </h3>
                            <h3 class = "brieftask"> [          ] advanced search features    </h3>
                            <h3 class = "brieftask"> [          ] a;llow user to make profile    </h3>
                            <h3 class = "brieftask"> [          ] other emmerce features /non commerce feautes  </h3>

                            </div>
                            <div class = "sick_backdrop" id="myDiv"> 

                            <h3 class = "brieftask"> <p class = "phase">FINAL STAGE </p></h3>
                            <h3 class = "brieftask"> <p></p>  </h3>

                            <h3 class = "brieftask"> [          ] upload it pythonanywhere  </h3>

                            </div>
                            <button class="btnbreif btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                ⧉ CLOSE BREIF
                                </button>
                                    </div>
                             </div>

                     

    {% elif group_for.name == 'BUYER' %}
    <h1>Look at our shop</h1>

    <div class ="access_limited">

        <h1> Your a basic user.Access is limited to only viewing.  </h1>

    </div>

    {% endif %}

{% endfor %}





        <nav>
            <ul>
                <li><a href = "{% url 'shop:all_products' %}">HOMESHOP</a></li> 


            </ul>
        </nav>

            <!--  CART BAR  -->

            <nav>
                <ul>
                <li><a  style = "display: flex;"href="{% url 'cart:cart_detail' %} ">
                    
                    
                    <h2 class = "fixcartitle">  CART  </h2>

                {% if item_count > 0 %} 
                <div class = "count_circle"> 
                   <h1 style = "margin-left:11px;">{{item_count}}</h1> </div>
                   {% endif %}  
                </a>  </li> 
            </ul>
        </nav>


                    <!--  END CART BAR  -->


          <nav>
                <ul>
                          <p></p> <!--  FILLER -->
                </ul>
            </nav>
        <nav>
            <ul>

          

                {% if user.is_authenticated %}
                <li>  <a href="{% url 'logout' %}"> LOG OUT </a></li>
               <!--  <li><a href="accounts/password-change/"></a></li> -->
               <li><a href="{% url 'password_change' %}">CHANGE PASSWORD</a></li>

                {% else %} 
                <li><a href="  {% url 'login' %}  "> LOG IN </a></li>
               <li><a href="{% url 'password_reset' %}">FORGOT PASSWORD?</a></li>
                 <li><a href="{% url 'signup' %}">SIGN UP</a></li>
                {% endif %} 
          
            </ul>
        </nav>

        <nav>
            <ul>
                      <p></p> <!--  FILLER -->
            </ul>
        </nav>




        {% if user.is_authenticated %}
        <nav>

            <ul>
                <li><a href="{% url 'show_profile' user.profile.pk %}"  class="dropdown-item">View Profile</a> </li>
                <li><a href="{% url 'edit_profile' user.profile.pk %}" class="dropdown-item">Edit Profile</a> </li>       
            </ul>
        </nav>
        {% endif %}



        <nav>
            <ul>
                      <p></p> <!--  FILLER -->
            </ul>
        </nav>



            <nav class = "header_body_border"><ul><li></li> </ul> </nav>
    </div>
     
         </header>
        



<div class = "sick_backdrop" id="myDiv"> 
    
    
    </div>

  </div>
 

            </div>

    </div>


    <div class = "aim_blut_at_this">
        <div class = "glass_plane">
      

        {% include 'navbar.html' %} 
        <nav style = "background-color: transparent;">
        <ul style = "background-color: transparent;">



<form style = "background-color: transparent;"class="rownav" action="{% url 'shop:search_results' %}" method ="get"> 



    <input name = "q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">        
<button class="btnsearch btn-outline-secondary" type="submit">Search</button>  

</form>   
        </ul>
    </nav>   
    {% if user.is_superuser %}

<nav>
    <ul>
            <form style = "background-color: transparent;"class="rownav" action="{% url 'search:search_users' %}" method ="get"> 
            <input class="" type="search" name="group_contains" placeholder="What group their in" />
            <input class="" type="search" name="age_contains" placeholder="What age they are" />
            <input class="" type="search" name="username_contains" placeholder="Their username" />

            <button class="btnsearch btn-outline-secondary" type="submit">SEARCH USERS</button>  
            </form>   
    </ul>
</nav>

    {% endif %}
        </div>
</div>

        {% block content %}
        {% endblock content %}

    
    </body>
</html>